<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/right-section.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ask.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/right-section.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/question.css' %}" />
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" />
</head>
<body>
{% block content %}
{% endblock %}
<header class="header">
  <a style="text-decoration: none" href="{% url 'index' %}">
    <div class="logo">DidNtAsk</div>
  </a>

  <div class="header-middle">
    <input class="search-input" type="text" placeholder="Search" />
    {% if request.user.is_authenticated %}
      <a style="text-decoration: none" href="{% url 'ask' %}">
        <button class="ask-button">ASK!</button>
      </a>
    {% else %}
      <a style="text-decoration: none" href="{% url 'log_in' %}">
        <button class="ask-button">ASK!</button>
      </a>
      <a style="text-decoration: none" href="{% url 'log_in' %}">
        <a class="links" style="display: inline-block" href="{% url 'log_in' %}">Login</a>
      </a>
      <a style="text-decoration: none" href="{% url 'register' %}">
        <a class="links" style="display: inline-block" href="{% url 'register' %}">Register</a>
      </a>
    {% endif %}
  </div>

  {% if request.user.is_authenticated %}
  <div class="profile">
    <div style="
                        display: inline-block;
                        margin-top: 4px;
                    ">
      <img class="avatar" src="{{ request.user.profile.avatar.url }}">
    </div>
    <div style="
                        display: inline-block;
                        width: 200px;
                        padding-left: 65px;
                        font-size: 20px;
                    ">
      <div style="
                            display: inline-block;
                            margin-bottom: 3px;
                        ">{{ request.user.username }}</div>
      <div>
        <a style="text-decoration: none" href="{% url 'settings' %}">
          <a class="links" style="display: inline-block" href="{% url 'settings' %}">Settings</a>
        </a>
        <a class="links" style="display: inline-block" href="{% url 'logout' %}">Log out</a>
      </div>
      {% endif %}

    </div>
  </div>
</header>
<nav class="right-section">
  <div class="right-section-title">
    Popular Tags
  </div>

  <div style="
                margin-right: 10px;
                margin-bottom: 20px;
                text-align: center;
                ">
    {% for tag in popular_tags %}
      <a class="popular-tags links" href="{% url 'tag-page' tag.id %}">
        {{ tag.name }}
      </a>
    {% endfor %}


  </div>

  <div style="
                text-align: center;
                align-content: center;
                ">
    <div class="right-section-title">
      Best Members
    </div>
    <div class="best-member">
      <span>ME</span>
    </div>
    <div class="best-member">
      <span>UserName911</span>
    </div>
    <div class="best-member">
      <span>BigJo</span>
    </div>
    <div class="best-member">
      <span>Elon Muskul</span>
    </div>
    <div class="best-member">
      <span>MichalJJordan</span>
    </div>
  </div>

</nav>

</body>
</html>