{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        height: 800px;
        width: auto;
        ">
<div class="ask-question">
    <div style="
        font-size: 60px;
        margin-bottom: 50px;
        margin-left: 140px;
        padding-top: 100px;
        ">
        New Question
    </div>
    <div class="question">
        <div class="name-of-input">
            Title
        </div>
        <textarea class="title-question-input" maxlength='80'></textarea>
    </div>

    <div class="question">
        <div class="name-of-input">
            Text
        </div>
        <textarea class="text-question-input"></textarea>
    </div>

    <div class="question">
        <div class="name-of-input">
            Tags
        </div>
        <textarea class="tags-question-input"></textarea>
    </div>

    <button class="question-button">
        ASK
    </button>

</div>
</body>
{% endblock %}