{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        font-family: Arial;
        ">

<div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
  Log In
</div>

<!--<div style="
  color: red;
  margin-left: 40px;
  margin-bottom: 50px;
  ">
  Sorry, wrong password!
</div>
-->
<form method="post" action="">
  {% csrf_token %}
  <div class="settings-options">
    <label for="usernameInput" class="settings-option-title">
      Login
    </label>
    <input type="text" name="username" class="settings-options-input" maxlength="20" id="usernameInput"/>
  </div>

  <div class="settings-options">
    <label for="passwordInput" class="settings-option-title">
      Password
    </label>
    <input type="password" name="password" class="settings-options-input" maxlength="50" id="passwordInput"/>
  </div>

  <div style="
  margin-left: 20px;
  ">
    <button class="question-button">Log In</button>
  </div>
</form>



<a class="links" style="
  margin-left: 160px;
  margin-top: 30px;
  " href="{% url 'register' %}">
  create new account
</a>


</body>
{% endblock %}