{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        font-family: Arial;
        ">

<div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
  Log In
</div>

<div style="
  color: red;
  margin-left: 40px;
  margin-bottom: 50px;
  ">
  Sorry, wrong password!
</div>
<div class="settings-options">
  <div class="settings-option-title">
    Login
  </div>
  <input type="text" class="settings-options-input" maxlength="20" value="reuffe"/>
</div>

<div class="settings-options">
  <div class="settings-option-title">
    Password
  </div>
  <input type="password" class="settings-options-input" maxlength="50" value="12345678"/>
</div>

<div style="
  margin-left: 20px;
  ">
<button class="question-button">Log In</button>
</div>

<div class="links" style="
  margin-left: 160px;
  margin-top: 30px;
  ">
  create new account
</div>


</body>
{% endblock %}