{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body class="question-page">

<div class="question-answers">
    <div class="main-post" style="margin-top: 100px; border:none;">
        <div style="
                    width: 800px;
                    height: 400px;
                    margin-right: 20px;
                    ">
            <div style="
                        text-align: center;
                        ">
                <img class="post-photo" src="../static/images/avatar.jpg">
            </div>
            <div style="
                        text-align: center;
                        ">
                <input class="post-rating" type="number" min="0" max="5"/>
            </div>

        </div>
        <div class="post">
            <div class="post-title" style="color: black">
                Here is the question
            </div>
            <div class="post-text">
                here is the text, somebody wrote something clever
            </div>
            <div class="post-bottom">
                <div style="
                            display: inline-block;
                            ">
                    <div style="
                                display: inline-block;
                                ">
                        Tag:
                    </div>
                    {% for tag_id in question.tags %}
                        <a class="links" href="{% url 'tag-page' tag_id %}"> {{tag_id}}</a> <!-- не могу понять, как получить именя -->
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
<div class="question-answers">
    {% include "layouts/answer-layout.html" %}
</div>
<div>
    <textarea style="height: 200px; width: 600px; margin-left: 40px; margin-top: 50px; font-size: 20px; border: 2px solid black">Enter your answer here.</textarea>
</div>
<div>
    <button class="question-button" style="width: 100px; margin-bottom: 80px; margin-left: 40px; margin-top: 20px">answer</button>
</div>
</body>
{% endblock %}
