<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/right-section.css" />
    <link rel="stylesheet" href="../static/css/ask.css" />
    <link rel="stylesheet" href="../static/css/question.css" />
    <link rel="stylesheet" href="../static/css/mainpage.css" />
</head>

<body style="
        padding-bottom: 50px;
        font-family: Arial;
        ">
<header class="header">
    <a style="text-decoration: none" href="index.html">
        <div class="logo">DidNtAsk</div>
    </a>

    <div class="header-middle">
        <input class="search-input" type="text" placeholder="Search" />

        <a style="text-decoration: none" href="ask.html">
            <button class="ask-button">ASK!</button>
        </a>
    </div>

    <div style="
      display: inline-block;
      width: 200px;
      height: 60px;
      margin-left: 65px;
      font-size: 20px;
      align-content: center;
      ">
        <div class="links" style="
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        " >Log In</div>
        <div style="
        display: inline-block;
        text-align: center;
        " class="links">Register</div>
    </div>



</header>
<nav class="right-section">
    <div class="right-section-title">
        Popular Tags
    </div>

    <div style="
                margin-right: 10px;
                margin-bottom: 20px;
                text-align: center;
                ">
        <div class="popular-tags">
            vacations
        </div>

        <div class="popular-tags">
            macintoch
        </div>

        <div class="popular-tags">
            git
        </div>

        <div class="popular-tags">
            apple
        </div>

        <div class="popular-tags">
            unreal_engine
        </div>

        <div class="popular-tags">
            javascript
        </div>

        <div class="popular-tags">
            homework
        </div>
    </div>

    <div style="
                text-align: center;
                align-content: center;
                ">
        <div class="right-section-title">
            Best Members
        </div>
        <div class="best-member">
            <span>ME</span>
        </div>
        <div class="best-member">
            <span>UserName911</span>
        </div>
        <div class="best-member">
            <span>BigJo</span>
        </div>
        <div class="best-member">
            <span>Elon Muskul</span>
        </div>
        <div class="best-member">
            <span>MichalJJordan</span>
        </div>
    </div>

</nav>
<div class="question-answers">
    <div class="main-post" style="margin-top: 100px; border:none;">
        <div style="
                    width: 800px;
                    height: 400px;
                    margin-right: 20px;
                    ">
            <div style="
                        text-align: center;
                        ">
                <img class="post-photo" src="../static/images/avatar.jpg">
            </div>
            <div style="
                        text-align: center;
                        ">
                <input class="post-rating" type="number" min="0" max="5"/>
            </div>

        </div>
        <div class="post">
            <div class="post-title" style="color: black">
                Here is the question
            </div>
            <div class="post-text">
                here is the text, somebody wrote something clever
            </div>
            <div class="post-bottom">
                <div style="
                            display: inline-block;
                            ">
                    <div style="
                                display: inline-block;
                                ">
                        Tag:
                    </div>
                    <div style="
                                display: inline-block;
                                " class="links">
                        first
                    </div>
                    <div style="
                                display: inline-block;
                                " class="links">
                        second
                    </div>
                    <div style="
                                display: inline-block;
                                " class="links">
                        third
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="question-answers">
    {% include "layouts/answer-layout.html" %}
</div>
<div>
    <textarea style="height: 200px; width: 600px; margin-left: 40px; margin-top: 50px; font-size: 20px; border: 2px solid black">Enter your answer here.</textarea>
</div>
<div>
    <button class="question-button" style="width: 100px; margin-bottom: 80px; margin-left: 40px; margin-top: 20px">answer</button>
</div>
</body>
</html>
