{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        font-family: Arial;
        ">

<div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
    Log In
</div>

<div style="
  color: red;
  margin-left: 40px;
  margin-bottom: 50px;
  ">
    Sorry, this email address allready registred!
</div>
<div class="settings-options">
    <div class="settings-option-title">
        Login
    </div>
    <input type="text" class="settings-options-input" maxlength="20" value="reuffe"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Email
    </div>
    <input type="text" class="settings-options-input" maxlength="50" value="easypandaoo@gmail.com"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        NickName
    </div>
    <input type="text" class="settings-options-input" maxlength="50" value="Reufe"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Password
    </div>
    <input type="password" class="settings-options-input" maxlength="50" value="Reufe123"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Repeat password
    </div>
    <input type="password" class="settings-options-input" maxlength="50" value="Reufe123"/>
</div>
<div class="settings-options">
    <div class="settings-option-title">
        Upload avatar
    </div>
    <div>
        <input type="file" name="fileToUpload">
        <input type="submit" value="Submit">
    </div>
</div>


<div style="
  margin-left: 20px;
  ">
    <button class="question-button" style="width: 100px; margin-bottom: 80px">Register</button>
</div>


</body>
{% endblock %}