{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        font-family: Arial;
        ">

<div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
    Sing Up
</div>

<div style="
  color: red;
  margin-left: 40px;
  margin-bottom: 50px;
  ">
</div>
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
<div class="settings-options">
    <div class="settings-option-title">
        Login
    </div>
    <input type="text" class="settings-options-input" maxlength="20" name="username"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Email
    </div>
    <input type="text" class="settings-options-input" maxlength="50" name="email"/>
</div>


<div class="settings-options">
    <div class="settings-option-title">
        Password
    </div>
    <input type="password" class="settings-options-input" maxlength="50" name="password"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Repeat password
    </div>
    <input type="password" class="settings-options-input" maxlength="50" name="repeat_password"/>
</div>

    <div style="
  margin-left: 20px;
  ">
    <button name="submit" class="question-button" style="width: 100px; margin-bottom: 80px">Register</button>
</div>
</form>





</body>
{% endblock %}