<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/settings.css"/>
    <link rel="stylesheet" href="../static/css/right-section.css"/>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <link rel="stylesheet" href="../static/css/ask.css"/>
    <link rel="stylesheet" href="fixed-sections.html"/>

</head>
<body style="
        font-family: Arial;
        ">
<header class="header">
    <a style="text-decoration: none" href="index.html">
        <div class="logo">DidNtAsk</div>
    </a>

    <div class="header-middle">
        <input class="search-input" type="text" placeholder="Search" />
    </div>

    <div style="
      display: inline-block;
      width: 200px;
      height: 60px;
      margin-left: 65px;
      font-size: 20px;
      align-content: center;
      ">
        <div class="links" style="
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        " >Log In</div>
        <div style="
        display: inline-block;
        text-align: center;
        " class="links">Register</div>
    </div>



</header>
<nav class="right-section">
    <div class="right-section-title">
        Popular Tags
    </div>

    <div style="
                    margin-right: 10px;
                    margin-bottom: 20px;
                    text-align: center;
                    ">
        <div class="popular-tags">
            vacations
        </div>

        <div class="popular-tags">
            macintoch
        </div>

        <div class="popular-tags">
            git
        </div>

        <div class="popular-tags">
            apple
        </div>

        <div class="popular-tags">
            unreal_engine
        </div>

        <div class="popular-tags">
            javascript
        </div>

        <div class="popular-tags">
            homework
        </div>
    </div>

    <div style="
                    text-align: center;
                    align-content: center;
                    ">
        <div class="right-section-title">
            Best Members
        </div>
        <div class="best-member">
            <span>ME</span>
        </div>
        <div class="best-member">
            <span>UserName911</span>
        </div>
        <div class="best-member">
            <span>BigJo</span>
        </div>
        <div class="best-member">
            <span>Elon Muskul</span>
        </div>
        <div class="best-member">
            <span>MichalJJordan</span>
        </div>
    </div>

</nav>
<div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
    Log In
</div>

<div style="
  color: red;
  margin-left: 40px;
  margin-bottom: 50px;
  ">
    Sorry, this email address allready registred!
</div>
<div class="settings-options">
    <div class="settings-option-title">
        Login
    </div>
    <input type="text" class="settings-options-input" maxlength="20" value="reuffe"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Email
    </div>
    <input type="text" class="settings-options-input" maxlength="50" value="easypandaoo@gmail.com"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        NickName
    </div>
    <input type="text" class="settings-options-input" maxlength="50" value="Reufe"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Password
    </div>
    <input type="password" class="settings-options-input" maxlength="50" value="Reufe123"/>
</div>

<div class="settings-options">
    <div class="settings-option-title">
        Repeat password
    </div>
    <input type="password" class="settings-options-input" maxlength="50" value="Reufe123"/>
</div>
<div class="settings-options">
    <div class="settings-option-title">
        Upload avatar
    </div>
    <div>
        <input type="file" name="fileToUpload">
        <input type="submit" value="Submit">
    </div>
</div>


<div style="
  margin-left: 20px;
  ">
    <button class="question-button" style="width: 100px; margin-bottom: 80px">Register</button>
</div>


</body>
</html>