{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        font-family: Arial;
        ">
    <div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
        Settings: {{ request.user.username }}
    </div>
    <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
    <div class="settings-options">
        <div class="settings-option-title">
            Username
        </div>
        <input type="text" class="settings-options-input" maxlength="20" name="username" value="{{request.user.username}}"/>
    </div>

    <div class="settings-options">
        <div class="settings-option-title">
            Email
        </div>
        <input type="text" class="settings-options-input" maxlength="50" name="email" value="{{request.user.email}}"/>
    </div>

    <div class="settings-options">
        <div class="settings-option-title">
            First name
        </div>
        <input type="text" class="settings-options-input" maxlength="25" name="first_name" value="{{request.user.first_name}}"/>
    </div>
    <div class="settings-options">
        <div class="settings-option-title">
            Last name
        </div>
        <input type="text" class="settings-options-input" maxlength="25" name="last_name" value="{{request.user.last_name}}"/>
    </div>


    <div class="settings-options">
        <div class="settings-option-title">
            Avatar
        </div>
        <img class="settings-option-avatar" src="{{ request.user.profile.avatar.url }}">
    </div>
    <div class="upload-avatar">
        <input type="file" name="avatar">
        <button type="submit" name="submit">
            SUBMIT
        </button>
    </div>
    </form>
</body>
{% endblock %}