{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body style="
        font-family: Arial;
        ">
    <div style="
        font-size: 32px;
        margin-bottom: 50px;
        margin-left: 40px;
        padding-top: 100px;
        ">
        Settings: UserName911
    </div>

    <div class="settings-options">
        <div class="settings-option-title">
            Login
        </div>
        <input type="text" class="settings-options-input" maxlength="20" value="Reufee"/>
    </div>

    <div class="settings-options">
        <div class="settings-option-title">
            Email
        </div>
        <input type="text" class="settings-options-input" maxlength="50" value="easypandaoo@gmail.com"/>
    </div>

    <div class="settings-options">
        <div class="settings-option-title">
            NickName
        </div>
        <input type="text" class="settings-options-input" maxlength="25" value="UserName911"/>
    </div>

    <div class="settings-options">
        <div class="settings-option-title">
            Avatar
        </div>
        <img class="settings-option-avatar" src="../static/images/avatar.jpg">
    </div>
    <div class="upload-avatar">
        <input type="file" name="fileToUpload">
        <input type="submit" value="Submit">
    </div>
</body>
{% endblock %}