<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TagePage</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/right-section.css" />
    <link rel="stylesheet" href="../static/css/mainpage.css" />
</head>

<body style="
        padding-bottom: 50px;
        font-family: Arial;
        ">
<header class="header">
    <a style="text-decoration: none" href="index.html">
        <div class="logo">DidNtAsk</div>
    </a>

    <div class="header-middle">
        <input class="search-input" type="text" placeholder="Search" />

        <a style="text-decoration: none" href="ask.html">
            <button class="ask-button">ASK!</button>
        </a>
    </div>


    <div class="profile">
        <div style="
                        display: inline-block;
                        margin-top: 4px;
                    ">
            <img class="avatar" src="../static/images/avatar.jpg">
        </div>
        <div style="
                        display: inline-block;
                        width: 200px;
                        padding-left: 65px;
                        font-size: 20px;
                    ">
            <div style="
                            display: inline-block;
                            margin-bottom: 3px;
                        ">UserName911</div>
            <div>
                <a style="text-decoration: none" href="settings.html">
                    <div class="links" style="display: inline-block">Settings</div>
                </a>
                <div class="links" style="display: inline-block">Log out</div>
            </div>

        </div>
    </div>
</header>
<nav class="right-section">
    <div class="right-section-title">
        Popular Tags
    </div>

    <div style="
                margin-right: 10px;
                margin-bottom: 20px;
                text-align: center;
                ">
        <div class="popular-tags">
            vacations
        </div>

        <div class="popular-tags">
            macintoch
        </div>

        <div class="popular-tags">
            git
        </div>

        <div class="popular-tags">
            apple
        </div>

        <div class="popular-tags">
            unreal_engine
        </div>

        <div class="popular-tags">
            javascript
        </div>

        <div class="popular-tags">
            homework
        </div>
    </div>

    <div style="
                text-align: center;
                align-content: center;
                ">
        <div class="right-section-title">
            Best Members
        </div>
        <div class="best-member">
            <span>ME</span>
        </div>
        <div class="best-member">
            <span>UserName911</span>
        </div>
        <div class="best-member">
            <span>BigJo</span>
        </div>
        <div class="best-member">
            <span>Elon Muskul</span>
        </div>
        <div class="best-member">
            <span>MichalJJordan</span>
        </div>
    </div>

</nav>
<div style="
        margin-top: 100px;
        margin-left: 50px;
        ">
    <div style="
        display: inline-block;
        margin-right: 100px;
        font-size: 40px;
        ">
        Tag: TheTag
    </div>
</div>
<div style="
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 300px;
        ">
    <div class="main-post">
        <div style="
                width: 25%;
                height: 100%;
                ">
            <div style="
                    text-align: center;
                    ">
                <img class="post-photo" src="../static/images/avatar.jpg">
            </div>
            <div style="
                    text-align: center;
                    ">
                <input class="post-rating" type="number" min="0" max="5"/>
            </div>

        </div>
        <div class="post">
            <div class="post-title">
                Here is the question
            </div>
            <div class="post-text">
                here is the text, you can write something
            </div>
            <div class="post-bottom">
                <div style="
                        display: inline-block;
                        margin-left: 50px;
                        margin-right: 200px;
                        color: blue;
                        text-decoration: underline;
                        text-decoration-color: blue;
                        cursor: pointer;
                        ">
                    answers(0)
                </div>
                <div style="
                        display: inline-block;
                        ">
                    <div style="
                            display: inline-block;
                            ">
                        Tag:
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        TheTag
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        second
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        third
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main-post">
        <div style="
                width: 25%;
                height: 100%;
                ">
            <div style="
                    text-align: center;
                    ">
                <img class="post-photo" src="../static/images/avatar.jpg">
            </div>
            <div style="
                    text-align: center;
                    ">
                <input class="post-rating" type="number" min="0" max="5"/>
            </div>

        </div>
        <div class="post">
            <div class="post-title">
                Here is the question
            </div>
            <div class="post-text">
                here is the text, you can write something
            </div>
            <div class="post-bottom">
                <div style="
                        display: inline-block;
                        margin-left: 50px;
                        margin-right: 200px;
                        color: blue;
                        text-decoration: underline;
                        text-decoration-color: blue;
                        cursor: pointer;
                        ">
                    answers(0)
                </div>
                <div style="
                        display: inline-block;
                        ">
                    <div style="
                            display: inline-block;
                            ">
                        Tag:
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        TheTag
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        second
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        third
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main-post">
        <div style="
                width: 25%;
                height: 100%;
                ">
            <div style="
                    text-align: center;
                    ">
                <img class="post-photo" src="../static/images/avatar.jpg">
            </div>
            <div style="
                    text-align: center;
                    ">
                <input class="post-rating" type="number" min="0" max="5"/>
            </div>

        </div>
        <div class="post">
            <div class="post-title">
                Here is the question
            </div>
            <div class="post-text">
                here is the text, you can write something
            </div>
            <div class="post-bottom">
                <div style="
                        display: inline-block;
                        margin-left: 50px;
                        margin-right: 200px;
                        color: blue;
                        text-decoration: underline;
                        text-decoration-color: blue;
                        cursor: pointer;
                        ">
                    answers(0)
                </div>
                <div style="
                        display: inline-block;
                        ">
                    <div style="
                            display: inline-block;
                            ">
                        Tag:
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        TheTag
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        second
                    </div>
                    <div style="
                            display: inline-block;
                            color: blue;
                            text-decoration: underline;
                            text-decoration-color: blue;
                            cursor: pointer;
                            ">
                        third
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div style="
        margin-left: 90px;
        ">

    <div class="page-number">
        1
    </div>
    <div class="page-number">
        2
    </div>
    <div class="page-number">
        3
    </div>
    <div class="page-number">
        ...
    </div>
    <div class="page-number">
        9
    </div>
</div>
</body>
</html>
